div.wrapper
    h2= 'Let us present our projects! '
        span= 'You\'ll see so much from now.'

    ul.projects
        li.projects-1
            figure
                img(src='/images/icon-comunnity.png', alt='Community')

            h4= 'Community'
            p= 'Sum dolor sit amet, consectetur adipiscing elit. Nunc condimentum interdum molestie.'
            div.arrow
        li.projects-2
            figure
                img(src='/images/icon-conferece.png', alt='Conference')

            h4= 'Conference'
            p= 'Sum dolor sit amet, consectetur adipiscing elit. Nunc condimentum interdum molestie.'
            div.arrow
        li.projects-3
            figure
                img(src='/images/icon-cast.png', alt='Cast')

            h4= 'Cast'
            p= 'Sum dolor sit amet, consectetur adipiscing elit. Nunc condimentum interdum molestie.'
            div.arrow
        li.projects-4
            figure
                img(src='/images/icon-labs.png', alt='Labs')

            h4= 'Labs'
            p= 'Sum dolor sit amet, consectetur adipiscing elit. Nunc condimentum interdum molestie.'
            div.arrow

    div.highlights.news
    div.highlights.confs
    div.highlights.cast
    div.highlights.labs

    hr

    article.get-involved
        img(src='images/img-getinvolved.png', alt='Brazilian Heart')
        h3= 'Get involved'
        p= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae orci eget dui semper consectetur. Nulla facilisi. Integer volutpat turpis at eros vestibulum non tristique elit lacinia. Fusce non dolor a ipsum iaculis scelerisque.'
            a= 'Donec varius gravida odio'
